.blue_text

	{
	color:blue;
	}

.green_text

	{
	color:green;
	}

#red_text

	{
	color:red;
	}

.fixed_size
	
	{
	font-size: 20px
	}

.resonsive_size

	{
	font-size: 10vw
	}

.fixed_box

	{
	width: 200px;
	height: 200px;
	background-color: blue;
	}

.resonsive_box

	{
	width:20vw;
	height:20vh;
	background-color: red;
	}

#box_1 

	{
	width: 100px;
	margin: 0 auto 0 auto; 
	}

#box_3:hover

	{
	background-color:blue;
	}

#box_4

	{
		padding: 100px;
		width: 500px;
		height: 500px;
	}

#box_4:hover

	{
		padding: 50px;
		width: 300px;
		height: 300px;
		margin: 100px;

		opacity: .5;
		background-color: yellow;
		transition: all 3s;
	}