h1 
{	
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;

	color:black;
	font-size: 80px }

body 
{
	background-image: url('https://media.giphy.com/media/xTka05eaWBCJqg9Tig/giphy.gif');
    background-size: cover;

	font-family: 'VT323', monospace;
}

#images
{	
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	padding-bottom: 100px;
}
	
@keyframes wiggle {
  20%  { transform: translateX(4px);  }
  40%  { transform: translateX(-4px); }
  60%  { transform: translateX(2px);  }
  80%  { transform: translateX(-1px); }
  100% { transform: translateX(0);    }
}

.wiggle:hover {
  animation: wiggle 1s ease;
  animation-iteration-count: 1; }